{% extends "base.html" %}


{% block content%}
<p>
    &nbsp;&nbsp;<h1>Update classes:</h1>
    <br> <br>
    <label for="exampleClassName">Class Name:&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="inputClassName" placeholder="Class Name">
    <br> <br>
    <label for="exampleSubject">First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text"  id="exampleSubject" placeholder="Subject">
    <br> <br>
    <label for="exampleGradeLevel">Grade Level:&nbsp;&nbsp;</label>
    <select class="form-control">
   <option>1</option>
   <option>2</option>
   <option>3</option>
   <option>4</option>
   <option>5</option>
   <option>6</option>
   <option>7</option>
   <option>8</option>
   <option>9</option>
   <option>10</option>
   <option>11</option>
   <option>12</option>
  </select>
  <br> <br>

   <label for="exampleSemester">First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
   <input type="text"  id="Semester" placeholder="Semester">
   <br> <br>
   
   </p>

  </form>
{% endblock %}
