{% extends "base.html" %}

{% block content %}
        <h1>Add class :</h1>
         <br> <br>
         <label for="ClassName:;">Class Name :&nbsp;&nbsp;</label><input type="text" id="ClassName">
         <br> <br>
         <label for="Subject:">Subject :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text"  id="Subject">
         <br> <br>
         <label for="GradeLevel:">Grade Level :&nbsp;&nbsp;</label><input type="text" id="GradeLevel">
         <br> <br>
         <label for="Semester:">Semester :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" id="Semester:">
         <br> <br>
         <label for="Year:">Subject :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text"  id="Subject">
         <br> <br>
         <input type="submit" value="Save" />

{% endblock %}
