{% extends "base.html" %}


   {% block content %}

   <br> <br>
   <br> <br>
   <ul class="nav nav-tabs">
       <li role="presentation" ><a href="{% url 'p_show_snotes' %}">Special Note</a></li>
       <li role="presentation"class="active"><a href="{% url 'p_show_grade' %}">Grade</a></li>
       <li role="presentation"><a href="{% url 'p_show_attendance' %}">Attendance</a></li>
       <li role="presentation" ><a href="{% url 'p_show_meetings' %}">Meetings</a></li>
       <li role="presentation"><a href="{% url 'show_bnotes' %}">Behavioral Notes</a></li>
       <li role="presentation"><a href="{% url 'p_request_meeting' %}">Request meeting</a></li>
   </ul>
   <div meeting="container">
   <br> <br>
   <br> <br>
   <h1> &nbsp; &nbsp; grade :</h1>
           <br> <br>
           <ul>


     <div class="table-responsive">
          {% for c in Grade %}
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>student</th>
                        <th>type of grade</th>
                        <th>total points</th>
                        <th>grade</th>
                        <th>total grade</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ c.student_grade }}</td>
                        <td>{{ c.type_g}}</td>
                        <td>{{ c.total_points }}</td>
                        <td>{{ c.grade }}</td>
                        <td>{{ total_grades }}</td>


                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

           </ul>

       {% endblock %}
