{% extends "base.html" %}

{% block content %}
 <div class="container">
     <br> <br>

  <h1>&nbsp;&nbsp;&nbsp;{{ user.username }} classes :</h1>
     <br> <br>
     <div class="list-group">

         {% for c in classes %}
             <!-- <li class="list-group-item"> -->
      <a class="list-group-item" href="{% url 's_class_details' c.class_id %}">
             {{ c.class_name }}
         </a>
             <!-- </li> -->
         {% endfor %}
     </div>
 </div> <!-- /container -->

   {% endblock %}
