{% extends "base.html" %}


{% block content %}

<br> <br>
<br> <br>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="{% url 'p_show_snotes' %}">Special Note</a></li>
    <li role="presentation"><a href="{% url 'p_show_grade' %}">Grade</a></li>
    <li role="presentation"><a href="{% url 'p_show_attendance' %}">Attendance</a></li>
    <li role="presentation" ><a href="{% url 'p_show_meetings' %}">Meetings</a></li>
    <li role="presentation"class="active"><a href="{% url 'show_bnotes' %}">Behavioral Notes</a></li>
    <li role="presentation"><a href="{% url 'p_request_meeting' %}">Request meeting </a></li>

</ul>


<div BehavioralNote="container">
<br> <br>
<br> <br>
<h1>&nbsp;&nbsp;&nbsp; BehavioralNote :</h1>
        <br> <br>
        <ul>
             {% for c in BehavioralNote %}
            <pre> Date :{{ c.date}}   From : {{ c.teacher_behavioralnote }}  Class : {{c.classes_specialNote}}
                 <br>
                {{ c.behavioral_note}}<br>
                  </pre>



            {% endfor %}
        </ul>
    </div> <!-- /container -->
    {% endblock %}
