{% extends "base.html" %}

{% block content %}
<br> <br>
<br> <br>

<ul class="nav nav-tabs">
    <li role="presentation" ><a href="{% url 't_show_meetings'  %}">Meetings</a></li>
    <li role="presentation" ><a href="{% url 't_show_grade' %}">Grades</a></li>
    <li role="presentation"><a href="{% url 't_show_attendance' %}">Attendance</a></li>

</ul>
<br> <br>

<div class="table-responsive">
     {% for c in Classes %}
     <h1>&nbsp;&nbsp;&nbsp;{{ user.username }} classes Details :</h1>
     <br> <br>
             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>class name</th>
                   <th>class semester</th>
                   <th>year</th>
                   <th>subject</th>
                   <th>grade level</th>

                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>{{c.class_name }}</td>
                   <td>{{c.class_semester}}</td>
                   <td>{{c.year }}</td>
                   <td>{{c.subject }}</td>
                   <td>{{c.grade_level }}</td>


                 </tr>

               </tbody>
             </table>
             <h3>&nbsp;&nbsp;&nbsp;Total number of student :{{ c.student_classses.count}} </h3>
             {% endfor %}
           </div>
   {% endblock %}
