{% extends "base.html" %}


{% block content %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{% url 't_show_meetings' %}">Meetings</a></li>
    <li role="presentation" ><a href="{% url 't_show_grade' %}">Grades</a></li>
    <li role="presentation"><a href="{% url 't_show_attendance' %}">Attendance</a></li>

</ul>
<br> <br>
<br> <br>

<div meeting="container">
<br> <br>
<br> <br>
<h1>&nbsp;&nbsp;&nbsp;{{ user.username }} meeting :</h1>
        <br> <br>
        <ul>
             {% for c in Meeting %}
            <pre>Date :{{ c.date}}   parents : {{ c.student_meeting}}
                 <br>
                {{ c.request_meeting}}<br>
                  </pre>



            {% endfor %}
        </ul>
    </div> <!-- /container -->

    {% endblock %}
